<div>
  <h2>{{username}}'s Poems</h2>

</div>
<div>
  {{#each poems as |poem|}}
    <article>

      <div class="poem">{{poem.content}}</div>

    </article>
  {{/each}}
</div>
<script src="./js/profile.js"></script>